.App {
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient (pink to orange) */
  min-height: 100vh; /* Make sure the gradient covers the whole viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(17, 16, 16);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(32, 227, 10);
}

h1 {
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.App-link {
  color: #61dafb;
}

